<%- include('../../menubar/top') %>

<div class="breadcrumbs">
    <div class="col-sm-4">
        <div class="page-header float-left">
            <div class="page-title">
                <h1>Asrama</h1>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="page-header float-right">
            <div class="page-title">
                <ol class="breadcrumb text-right">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/asrama">Asrama</a></li>
                    <li class="active">Edit Asrama</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
				<%-include('../../cards/asrama/edit')%>
            </div>
        </div>
    </div>
</div>

<%- include('../../footer/footer') %>