<div class="modal fade none-border" id="actionAddKartuConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <!-- <div class="modal-body">
                <% if (typeof errors !== 'undefined') { %>
                    <div class="alert alert-danger">
                        <center>
                            <span style='color: black; text-align: center;'>
                                <strong><%= typeof errors !== 'undefined' ? errors : '' %> </strong>
                            </span> <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i></strong>
                        </center>
                    </div>
                <% } else if (typeof success !== 'undefined') { %>
                    <div class="alert alert-success">
                        <center>
                            <span style='color: black; text-align: center;'>
                                <strong><%= typeof success !== 'undefined' ? success: '' %> </strong>
                            </span> <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i></strong>
                        </center>
                    </div>
                <% } %>
            </div> -->
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>