<div class="modal fade none-border" id="actionEditKartuConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>