<div class="animated">
    <div class="modal fade" id="checkoutReservasiConfirmation" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"><strong>QRCode</strong></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                
                </div>
                <div class="modal-footer openQR">
                    
                </div>  
            </div>
        </div>
    </div>
</div>