<div class="card">
    <div class="card-header">
        <i class="fa fa-users"></i> <strong class="card-title">Data Penghuni</strong>
    </div>
    <div class="card-body">
        <table id="dataTableTamu" class="table table-hover table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama</th>
                    <th>NIK</th>
                    <th>Jenis Kelamin</th>
                    <th>No Telepon</th>
                    <th>Keterangan</th>
                </tr>
            </thead>
        </table>
    </div>
</div>