<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Sistem Informasi Manajemen Asrama</title>
    <meta name="description" content="Sufee Admin - HTML5 Admin Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../images/logo-kejaksaaan.png" type="image/ico" />

    <link rel="stylesheet" href="/new/vendors/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/new/vendors/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/new/vendors/themify-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/new/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="/new/vendors/selectFX/css/cs-skin-elastic.css">
    <link rel="stylesheet" href="/new/vendors/jqvmap/dist/jqvmap.min.css">
    <link rel="stylesheet" href="/new/vendors/bootstrap/bootstrap-select.min.css">
    <link rel="stylesheet" href="/new/assets/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/new/vendors/bootstrap-daterangepicker/daterangepicker.css">
    <link rel="stylesheet" href="/new/vendors/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

</head>