<div class="modal fade none-border" id="actionEditedKamarConfirmation">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">

            </div>
            <div class="modal-body">
                    <div class="alert alert-success">
                        <center>
                            <span style='color: black; text-align: center;'><strong>Data kamar berhasil diubah </strong></span> <i class="fa fa-check-circle-o fa-lg" aria-hidden="true"></i></strong>
                        </center>
                    </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>