<div class="card">
    <div class="card-header">
        <i class="fa fa-university"></i> <strong class="card-title">Data Asrama</strong>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-info" href="/asrama/tambah"><i class="fa fa-plus"></i> <i class="fa fa-university"></i> Tambah Asrama</a>
        <p></p>
        <table id="dataTableAsrama" class="table table-hover table-striped table-bordered table-hover" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nama Asrama</th>
                    <th>Gambar</th>
                    <th>Jumlah Kamar</th>
                    <th>Jumlah Lantai</th>
                    <th>Fasilitas</th>
                    <th>created</th>
                    <th>Aksi</th>
                </tr>
            </thead>
        </table>
    </div>
</div>