<div class="card">
    <div class="card-header">
        <i class="fa fa-bed"></i> <strong class="card-title">Data Kamar</strong>
    </div>
    <div class="card-body">
        <a class="btn btn-outline-info" href="/kamar/tambah"><i class="fa fa-plus"></i> <i class="fa fa-bed"></i> Tambah Kamar</a>
        <p></p>
        <div class="row form-group">
            <div class="col-4">
                <label for="idAsrama" class="label">Asrama </label>
                <select name="id_asrama" id="idAsrama" class="form-control">
                    <option value="">Asrama</option>
                    <% asrama.forEach(row => { %>
                        <option value="<%= row.id %>"><%= row.nama_asrama %></option>
                    <% }) %>
                </select>
            </div>
            <div class="col-4">
                <label for="status" class="label">Status </label>
                <select name="status" id="status" class="form-control">
                    <option value="">Status Kamar</option>
                    <option value="0">Tersedia</option>
                    <option value="1">Tidak Tersedia</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                <button style="padding: 5px 20px;" class="btn btn-outline-primary" id="buttonFilterKamar">
                <i class="fa fa-search"></i> Filter</button>
            </div>
        </div>
        <br>
        <table id="datatableRoom" class="table table-hover table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Nomor Kamar</th>
                    <th>Gambar</th>
                    <th>Asrama</th>
                    <th>Kapasitas Penghuni</th>
                    <th>Status</th>
                    <th>created</th>
                    <th>Aksi</th>
                </tr>
            </thead>
        </table>
    </div>
</div>