<div class="card">
    <div class="card-header">
        <i class="fa fa-sticky-note"></i> <strong class="card-title">Data Logs</strong>
    </div>
    <div class="card-body">
        <table id="dataTableLogs" class="table table-hover table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Log Time</th>
                    <th>Nama</th>
                    <th>IP Address</th>
                    <th>Browser</th>
                    <th>Browser Version</th>
                    <th>OS</th>
                    <th>Hostname</th>
                    <th>Log Detail</th>
                </tr>
            </thead>
        </table>
    </div>
</div>